/* App container styles */
.App {
  text-align: center;
}

/* Header styles */
.App-header {
  padding: 5rem;
  background-color: #3f3e3e; /* Greyish black */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Input field container styles */
.input-container {
  margin-bottom: 1rem;
}

/* Label styles */
.input-label {
  margin-right: 1rem;
}

/* Input field styles */
.input-field {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

/* Vest input container styles */
.vest-input-container {
  margin-bottom: 1rem;
}

/* Vest period field styles */
.vest-period-field {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  width: 48%;
}

/* Submit button styles */
.submit-button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .vest-input-container {
    display: flex;
    flex-direction: column;
  }

  .vest-period-field {
    width: 100%;
  }
}

.epic-header {
  font-size: 3rem;
  color: #ffcc00; /* Retro yellow color */
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace; /* Use a monospace font for a vintage feel */
  letter-spacing: 4px;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
